.Petopia {
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;
  overflow: hidden; 
  height: 100vh;
}

.heading-bar {
  position: relative;
  margin-bottom: 20px;
  z-index: 2;
}

.heading-bar video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.heading-bar h1 {
  font-size: 2rem;
  margin-top: 0;
  z-index: 3;
  position: relative;
}

.cart-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;
}

.search-container,
.filter-sort-container,
.pagination {
  margin: 20px 0;
  z-index: 3;
  position: relative;
}

.search-bar,
.filter-dropdown,
.sort-dropdown {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.search-bar {
  width: 100%;
  max-width: 300px;
}

.filter-dropdown,
.sort-dropdown {
  margin-right: 10px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  z-index: 3;
  position: relative;
}

.product-card {
  width: 250px;
  height: 200px;
  aspect-ratio: 1/ 1;
  border: 2px solid #ccc;
  overflow: hidden; 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  margin: 10px;
}

.product-card img {
  width: 100%; 
  height: auto;
  object-fit: cover;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h3, .product-card p {
  margin: 5px 0; 
}

.product-card:hover {
  transform: translateY(-20px);
  box-shadow: 0 4px 8px rgb(241, 236, 236);
}

.product-card button {
  background-color: #4a3929;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-top: auto; 
}

.product-card button:hover {
  background-color: #3b2a1b;
}

.pagination button {
  background-color: #4a3929;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #3b2a1b;
}

.pagination button.active {
  background-color: #f8f7f5;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
