.Service-sec {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.Service-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.Service-sec::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.178);
  z-index: -1; 
}

.main-div {
  width: 50vw;
  padding: 50px;
  opacity: 1;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.208);
  color: #000000;
}

.sec-h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 32px;
  letter-spacing: 5px;
  word-spacing: 5px;
  margin-bottom: 50px;
  color: #ffffff;
}

.main-heading {
  display: flex;
  margin-top: 30px;
  padding: 20px 0 20px 20px;
  background: rgba(152, 110, 2, 0.3);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.main-heading h3 {
  margin-left: 30px;
  color: #ffffff;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
}

.main-heading p {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: rgba(244, 242, 242, 0.1) 0px 4px 16px, rgba(223, 223, 227, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  padding: 7px;
  width: 2rem;
  height: 2.5rem;
  inline-size: initial;
}

.answers {
  padding: 30px 20px 40px 20px;
  font-size: 15px;
  word-spacing: 2px;
  font-weight: 400;
  line-height: 1.7;
  color: #ffffff; 
}

.service-h2 {
  margin: 3rem 0 0 0;
}
.upload-pet-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #070303;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
}

@media (max-width: 1280px) {
  .main-div {
      width: 100%;
  }
}
upload-pet-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #e6e6fa; 
  color: #4b0082;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
}

.file-upload {
  display: none; 
}

.uploaded-files {
  margin-top: 80px;
}

.uploaded-files ul {
  list-style-type: none;
  padding: 0;
}

.uploaded-files li {
  margin-bottom: 10px;
  color: #4b0082;
}

@media (max-width: 1280px) {
  .main-div {
      width: 100%;
  }
}
.donate-button {
  position: absolute;
  top: 20px;
  right: 150px; 
  padding: 10px 20px;
  background-color: #4b0082; 
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  z-index: 10; 
}