@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.h-wrapper {
  background: #4a3929;
  color: white;
}

.h-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.78);
  height: 150px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.doggo {
  margin-right: 10px;
}

.logo-text h3 {
  font-family: 'Fredoka One', cursive;
  font-size: 24px; 
  margin: 0;
}

.h-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-grow: 1;
}

.h-menu > *:hover {
  cursor: pointer;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-right: 20px;
  color: #f1f1f1;
}

.nav-list a {
  text-decoration: none;
  color: inherit;
  font-family: 'Fredoka One', cursive;
  font-size: 18px;
}

.nav-list button {
  background: none;
  border: none;
  font-family: 'Fredoka One', cursive;
  color: inherit;
  font-size: 18px;
  cursor: pointer;
}

.active_class {
  color: rgb(107, 107, 205);
}

.ham {
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .nav-list {
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 20px;
    background: #2d2a30;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: auto;
    padding: 0;
  }

  .nav-list li {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    text-align: center;
    margin: 0;
    padding: 20px 0;
  }

  .ham {
    display: block;
  }

  .nav-list.hide {
    display: none;
  }

  .nav-list.show {
    display: flex;
  }
}
